body {
	background-color: #ffffff;
	padding-top: 100px; /* 100px is double the height of the navbar - I made it a big larger for some more space - keep it at 50px at least if you want to use the fixed top nav */
}
a {
  color: #333;
}

a:hover, a:focus {
	color: #222;
  text-decoration: none;
}

.post {
  text-align: justify;
  text-justify: inter-word;
}

.no-post {

}

footer {

}

