/* Importing custom font */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
  padding-top: 50px;
  background-color: #ffffff;
}
.caption {
  font-size: 1.5em;
  width: 40%
}
.large-icon {
  font-size: 2em;
}
.box {
  display: inline-block;
  margin: 30px auto 30px;
  max-width: 720px;
  padding: 10px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.35);
  border-radius: 2px;
}
.post {
/* 
  border: 1px solid #e3e3e3;
  border-radius: 5px; 
  */
overflow: hidden;
margin-bottom: 20px;
}

.navbar {
  background-color: #222222;
  border-color: #121212;
}

.navbar .navbar-nav > li > a {
color: #ffffff;
}

.navbar .navbar-brand {
color: #ffffff;
}

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #090909;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #090909;
}
.navbar .navbar-nav > .disabled > a,
.navbar .navbar-nav > .disabled > a:hover,
.navbar .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar .navbar-toggle {
  border-color: transparent;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #090909;
}
.navbar .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
  background-color: #090909;
  color: #ffffff;
}

/* Pagination */

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
color: #999999;
background-color: #f5f5f5;
border-color: #dddddd;
cursor: default;
}

.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
color: #777;
cursor: default;
background-color: #fff;
border-color: #ddd;
}

/* Form control */

.form-control {
  border-radius: 0;
}

/* Buttons */

.btn {
  border-radius: 0;
}

.btn-default {
  color: #ffffff;
  background-color: #222222;
  border-color: #222222;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #ffffff;
  background-color: #090909;
  border-color: #040404;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #222222;
  border-color: #222222;
}
.btn-default .badge {
  color: #222222;
  background-color: #ffffff;
}

/* Nav Pills */

.nav-pills > li > a {
  border-radius: 0;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #2780e3;
}
.nav-pills > li> a > span.glyphicon {
  color: #333;
}

/* Nav Tabs */

.nav-tabs > li > a {
  border-radius: 0 0 0 0;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-bottom-color: transparent;
}
.nav-tabs.nav-justified > li > a {
  border-radius: 0;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a {
    border-radius: 0 0 0 0;
  }
}
